<!doctype html>
<html lang="en" ng-app="{{ngAppConfig.name}}">
<head>
  <meta charset="utf-8">
  <title>Syng Demo</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <div ng-view></div>

  <div>Syng Demo app: v<span app-version></span></div>

{% javascripts
	'@StudioArtlanSyngDemoBundle/Resources/public/app/lib/angular.js'
	'@StudioArtlanSyngDemoBundle/Resources/public/app/lib/angular-route.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts
    '@StudioArtlanSyngDemoBundle/Resources/public/app/js/*.js'
    '@StudioArtlanSyngDemoBundle/Resources/public/app/js/routes/*.js'
    '@StudioArtlanSyngDemoBundle/Resources/public/app/js/services/*.js'
    '@StudioArtlanSyngDemoBundle/Resources/public/app/js/directives/*.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
